* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --v-dark-blue: hsl(216, 12%, 8%);

  /* Fonts */
  --p-size: 0.625rem;
  --font-fam: "Overpass", sans-serif;
  --sm-weight: 400;
  --lg-weight: 700;
}

body {
  background-color: var(--v-dark-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-fam);
}

.rating-container {
  background-color: var(--dark-blue);
  width: 100%;
  height: auto;
  padding: 1.5em;
  border-radius: 20px;
  padding-bottom: 2.5em;
}

.rating-container h1,
.rating-container p {
  color: var(--white);
  text-align: left;
}

.star-icon {
  background-color: hsla(217, 12%, 63%, 0.1);
  border-radius: 50px;
  width: 15%;
  padding: 1em;
  height: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.rating-container p {
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: var(--light-grey);
  line-height: 1.5em;
}

.rate-buttons-div {
  margin-bottom: 2em;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.rating-btn {
  padding: 1.5em;
  border-radius: 50%;
  border: solid 2px var(--dark-blue);
  background-color: hsla(217, 12%, 63%, 0.1);
  color: var(--light-grey);
  font-weight: var(--lg-weight);
}

.submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  background-color: var(--orange);
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 1em;
  border: solid 2px var(--orange);
  font-weight: var(--lg-weight);
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Attr DIv */
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }